<h1>Find out what type of triangle it is</h1>

<form action="/output">
  <div class="form-group">
    <label for="length1">Length 1</label>
    <input id="l1" name="length1" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="length2">Length 2</label>
    <input id="l2" name="length2" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="length3">Length 3</label>
    <input id="l3" name="length3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-primary">Get my triangle type!</button>
</form>
